@import '~bootstrap/scss/bootstrap';

body {
  // import a styled font here
  background: black;
  color: orange;
  align-items: center;
  text-align: center;
}

h1 {
  align-items: center;
  text-align: center;
  // import spooky text
}

h2 {
  align-items: center;
  text-align: center;
}

#sign-up-user-form {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  color: orange;
}

#sign-up-user, #sign-up-password, #sign-up-password_confirmation {
  text-align: center;
  background: black;
  color: orange;
}

#sign-in-user-form {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  color: orange;
}

#sign-in-user, #sign-in-password {
  text-align: center;
  background: black;
  color: orange;
}

#change-password-user-form {
  text-align: center;
  background: black;
  color: orange;
}

#new-game-button {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  color: orange;
}

#index-game-button {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  color: orange;
}

#sign-out-user-form {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  color: orange;
}


.container {
  height: 100vh;
  }

.container input[type=submit]{
  align-items: center;
  justify-content: center;
  text-align: center;
  background: orange;
  color: black;
}
.board {
  display: flex;
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  align-items: center;
  display: flex;
  height: calc(100%/3);
  justify-content: center;
  transition: .50s ease-in;
  width: 50vmin;
  border: 1px white;
  background-color: black;
  color: white;
  font-size: 10vh;
  border: 2px white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  min-height: calc(100% / 3);
  user-select: none;

  &:hover {
    background-color: highlight;
  }

  text-shadow: 0px 0px rgba(0 , 0, 0, .5);

  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-child(2n) {
  background-color: black;
}
  &:nth-child(2n+1) {
  background-color: orange;
}
  &:nth-last-child(-1n + 3) {
      border-bottom: 0;
  }


}
